*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}
/*First-page Page Styling*/
.main-container{
    position: relative;
    width: 360px;
    height: 640px;
    background-color: #588157;
    overflow: hidden;
}
.logo{
    position: absolute;
    width: 220px;
    height: 123px;
    left: 70px;
    top: 63px;
}
.splash p{
position: absolute;
width: 295px;
height: 16px;
left: 33px;
top: 173px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 16px;
text-align: center;
color: #DAD7CD;

}

.start-button .button{
position: absolute;
width: 195px;
height: 47px;
left: 83px;
top: 668px;
    
background: #344E41;
border-radius: 50px;
}
.start-button a{
position: absolute;
width: 74px;
height: 25px;
left: 143px;
top: 679px;
    
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #DAD7CD;
}

.covidDataContainer{
    position: absolute;
    width: 259px;
    height: 383px;
    left: 51px;
    top: 237px;
    
    background: #C4C4C4;
}

.covidData h1{
    position: absolute;
width: 209px;
height: 25px;
left: 76px;
top: 256px;

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;

color: #787055;

}
.covidData p{
    position: absolute;
    width: 207px;
    height: 288px;
    left: 76px;
    top: 317px;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    
    color: #787055;
    
}