
*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

/*Import fonts from Google font*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Open Sans';
    background: #588157;
    font-size: 40px;
    height: 100vh;
}


.container{
    margin: 0 auto;
    text-align: center;
    .logo{
        width: 120px;
    }
    h1{
        margin: 1em 0;
        color: #588157;
        font-family: 'Open Sans';
    }
    p{
        line-height: 1.7rem;
        font-family: 'Open Sans';
        font-weight: lighter;
    }
    .left{
      background: linear-gradient(160 deg, #787055 0%, #DAD7CD 100%);  
      padding: 1em;
      p,h1{
          color:#588157;
          font-family: 'Open Sans';
      }
    }

    .right p{
       margin: 2em 0 1em; 
       font-family: 'Open Sans';
    }
    input, button{
        width: calc(100% - 3em);
        padding: .5em;
        font-size: 1.3rem;
        outline: none;
        margin: 1em;
    }
    button{
        width: calc(100% - 2em);
        margin: 0;
        background: #588157;
        color: #DAD7CD;
        border: none;
        cursor: pointer;
    }
    
}

.decor1{
    width: 100%;
    margin: .5em auto 0;
    text-align: center;
    
    .decor{
        margin-top: 2em;
        width: 3em;
    }

}
}